<table class="table">
    <tr>
        <td width="64" style="border: 0px;"><img src="{{ member.avatar(64) }}"></td>
        <td style="border: 0px;">
            <p><a href="{{ url_for('main.profile', username=member.username) }}">{{ member.username }}</a></p>
            <small>
                {% if member.about_me %}<p>{{ member.about_me }}</p>{% endif %}
                {% if member.last_seen %}
                <p>{{ _('Last seen on') }}: {{ moment(member.last_seen).format('lll') }}</p>
                {% endif %}
                <p>{{ _('%(count)d followers', count=member.followers.count()) }}, {{ _('%(count)d following', count=member.followed.count()) }}</p>
                {% if member != current_user %}
                    {% if not current_user.is_following(member) %}
                    <a href="{{ url_for('main.follow', username=member.username) }}">{{ _('Follow') }}</a>
                    {% else %}
                    <a href="{{ url_for('main.unfollow', username=member.username) }}">{{ _('Unfollow') }}</a>
                    {% endif %}
                {% endif %}
            </small>
        </td>
    </tr>
</table>