{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ member.avatar(256) }}"></td>
            <td>
                <h1>{{ _('Member') }}: {{ member.username }}</h1>
                {% if member.about_me %}<p>{{ member.about_me }}</p>{% endif %}
                {% if member.last_seen %}
                <p>{{ _('Last seen on') }}: {{ moment(member.last_seen).format('LLL') }}</p>
                {% endif %}
                <p>{{ _('%(count)d followers', count=member.followers.count()) }}, {{ _('%(count)d following', count=member.followed.count()) }}</p>

                {% if member == current_user %}
                <p><a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
                {% if not current_user.get_task_in_progress('export_posts') %}
                    <p><a href="{{ url_for('main.export_posts') }}">{{ _('Export your posts') }}</a></p>
                {% endif %}
                {% elif not current_user.is_following(member) %}
                <p><a href="{{ url_for('main.follow', username=member.username) }}">{{ _('Follow') }}</a></p>
                {% else %}
                <p><a href="{{ url_for('main.unfollow', username=member.username) }}">{{ _('Unfollow') }}</a></p>
                {% endif %}

                {% if user != current_user %}
                <p>
                    <a href="{{ url_for('main.send_message', recipient=member.username) }}">
                        {{ _('Send private message') }}
                    </a>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}